<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<ng-template [ngIf] = "'home' === pagina">
    <div align="center" class="bg-dark p-4"><img src="assets/img/pokemon.png" width="400px" height="140px"></div>
<div class="bg-warning row" align="center">
    <div class="col p-2"><img src="assets/img/diamond.png" class="rounded" width="880px" height="400px"></div>
    <div class="col p-2" >
        <div class="mt-2 p-5 bg-info text-white rounded" align="center">
            <h1 class="gametitle">POKEMON DIAMANTE LUCENTE</h1>
            <p class="gameD">Questo gioco di pokemon si ambienta nella regione di Sinnoh</p>
        </div>
    </div>
</div>
<div class="bg-dark row" align="center">
    <h1 class="starterTitle p-5">STARTER POKEMON</h1>
    <div class="col p-2">
        <div class="mt-2 ms-3 p-5 bg-success text-white rounded">
            <button (click) = "onClickTurtwig($event)" type="button" class="btn btn-success btn-lg">
                <p class="pokemonname1">TURTWIG</p>
                <img height="400px" src="assets/img/turtwig.png">
            </button>
        </div>
    </div>
    <div class="col p-2">
        <div class="mt-2 p-5 bg-warning text-white rounded">
            <button (click) = "onClickChimchar($event)" type="button" class="btn btn-warning btn-lg">
                <p class="pokemonname2">CHIMCHAR</p>
                <img height="400px" src="assets/img/chimchar.png">
            </button>   
        </div>
    </div>
    <div class="col p-2">
        <div class="mt-2 me-3 p-5 bg-info text-white rounded">
            <button (click) = "onClickPiplup($event)" type="button" class="btn btn-info btn-lg">
                <p class="pokemonname3">PIPLUP</p>
                <img height="400px" src="assets/img/piplup.png" >
            </button>
        </div>
    </div>
</div>
</ng-template>





<ng-template [ngIf] = "'TURTWIG' === pagina" >
    <div align="center" class="bg-dark p-4">
        <img src="assets/img/pokemon.png" width="400px" height="140px">
    </div>
    <div class="bg-dark row" align="center">
        <div>
            <button (click) = "onClickHome($event)" type="button" class="btn btn-success btn-lg">
                <p class="homebtn">HOME</p>
            </button>
        </div>
        <h1 class="starterTitle p-5">TURTWIG</h1>
        <div class="col p-2" >
            <div class="bg-dark">
                <div class="mt-2 ms-3 p-5 bg-success text-white rounded">
                        <p class="pokemonname1">TURTWIG</p>
                        <img height="400px" src="assets/img/turtwig.png">
                </div>
            </div>
        </div>
        <div class="col p-2" >
            <div class="mt-2 p-5 bg-success text-white rounded row" width="400px">
                <h1 class="gametitle">POKEDEX</h1>
                <div class="col p-2">
                    <p class="gameD"><strong>Altezza: </strong> 0,4 m</p>
                    <br>
                    <p class="gameD"><strong>Peso: </strong> 10,2 kg</p>
                    <br>
                    <p class="gameD"><strong>Categoria: </strong> Fogliolina</p>
                    <br>
                    <p class="gameD"><strong>Abilità: </strong> Erbaiuto</p>
                    <br>
                    <p class="gameD"><strong>Sesso: </strong> Maschio</p>
                </div>
                <div class="col p-2">
                    <table class="table table-bordered text-white">
                        <thead>
                           <tr>
                            <th class="tablestats">Stat</th>
                            <th class="tablestats">Base</th>
                            <th class="tablestats">Rank</th>
                           </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="tablestats">Punti Salute</td>
                                <td class="tablestats">55</td>
                                <td class="tablestats">29.7</td>
                            </tr>
                            <tr>
                                <td class="tablestats">Attacco</td>
                                <td class="tablestats">68</td>
                                <td class="tablestats">39.7</td>
                            </tr>
                            <tr>
                                <td class="tablestats">Difesa</td>
                                <td class="tablestats">64</td>
                                <td class="tablestats">40.6</td>
                            </tr>
                            <tr>
                                <td class="tablestats">Attacco Speciale</td>
                                <td class="tablestats">45</td>
                                <td class="tablestats">21</td>
                            </tr>
                            <tr>
                                <td class="tablestats">Difesa Speciale</td>
                                <td class="tablestats">55</td>
                                <td class="tablestats">30.1</td>
                            </tr>
                            <tr>
                                <td class="tablestats">Velocità</td>
                                <td class="tablestats">31</td>
                                <td class="tablestats">10.1</td>
                            </tr>
                        </tbody>
                      </table>
                </div>
                <p class="gameD">
                    Turtwig nella regione di Sinnoh lo puoi trovare nel 
                    <br> 
                    <br> 
                    Lago Verità, prima dell'intervento del Team Galassia.
                    <br> 
                    <br> 
                </p>
            </div>
        </div>
    </div>
    <div align="center" class="bg-dark p-4">
        
    </div>
</ng-template>

<ng-template [ngIf] = "'CHIMCHAR' === pagina">
    <div align="center" class="bg-dark p-4">
        <img src="assets/img/pokemon.png" width="400px" height="140px">
    </div>
    <div class="bg-dark row" align="center">
        <div>
            <button (click) = "onClickHome($event)" type="button" class="btn btn-warning btn-lg">
                <p class="homebtn2">HOME</p>
            </button>
        </div>
        <h1 class="starterTitle p-5">CHIMCHAR</h1>
        <div class="col p-2" >
            <div class="bg-dark">
                <div class="mt-2 ms-3 p-5 bg-warning text-white rounded">
                        <p class="pokemonname2">CHIMCHAR</p>
                        <img height="400px" src="assets/img/chimchar.png">
                </div>
            </div>
        </div>
        <div class="col p-2" >
            <div class="mt-2 p-5 bg-warning text-white rounded row" width="400px">
                <h1 class="gametitle">POKEDEX</h1>
                <div class="col p-2">
                    <p class="gameD2"><strong>Altezza: </strong> 0,5 m</p>
                    <br>
                    <p class="gameD2"><strong>Peso: </strong> 6,2 kg</p>
                    <br>
                    <p class="gameD2"><strong>Categoria: </strong> Scimpanzé</p>
                    <br>
                    <p class="gameD2"><strong>Abilità: </strong> Aiutofuoco</p>
                    <br>
                    <p class="gameD2"><strong>Sesso: </strong> Maschio</p>
                </div>
                <div class="col p-2">
                    <table class="table table-bordered text-white">
                        <thead>
                           <tr>
                            <th class="tablestats2">Stat</th>
                            <th class="tablestats2">Base</th>
                            <th class="tablestats2">Rank</th>
                           </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="tablestats2">Punti Salute</td>
                                <td class="tablestats2">55</td>
                                <td class="tablestats2">29.7</td>
                            </tr>
                            <tr>
                                <td class="tablestats2">Attacco</td>
                                <td class="tablestats2">68</td>
                                <td class="tablestats2">39.7</td>
                            </tr>
                            <tr>
                                <td class="tablestats2">Difesa</td>
                                <td class="tablestats2">64</td>
                                <td class="tablestats2">40.6</td>
                            </tr>
                            <tr>
                                <td class="tablestats2">Attacco Speciale</td>
                                <td class="tablestats2">45</td>
                                <td class="tablestats2">21</td>
                            </tr>
                            <tr>
                                <td class="tablestats2">Difesa Speciale</td>
                                <td class="tablestats2">55</td>
                                <td class="tablestats2">30.1</td>
                            </tr>
                            <tr>
                                <td class="tablestats2">Velocità</td>
                                <td class="tablestats2">31</td>
                                <td class="tablestats2">10.1</td>
                            </tr>
                        </tbody>
                      </table>
                </div>
                <p class="gameD2">
                    Turtwig nella regione di Sinnoh lo puoi trovare nel 
                    <br> 
                    <br> 
                    Lago Verità, prima dell'intervento del Team Galassia.
                    <br> 
                    <br> 
                </p>
            </div>
        </div>
    </div>
    <div align="center" class="bg-dark p-4">
        
    </div>
</ng-template>

<ng-template [ngIf] = "'PIPLUP' === pagina">
    <div align="center" class="bg-dark p-4"><img src="assets/img/pokemon.png" width="400px" height="140px"></div>
    <div class="bg-dark row" align="center">
        <h1 class="starterTitle p-5">PIPLUP</h1>
        <div class="col p-2">
            <div class="mt-2 me-3 p-5 bg-info text-white rounded">
                    <p class="pokemonname3">PIPLUP</p>
                    <img height="400px" src="assets/img/piplup.png" >
            </div>
        </div>
        <div class="col p-2">
            <div class="mt-2 p-5 bg-info text-white rounded" align="center">
                <h1 class="gametitle">PIPLUP</h1>
                <p class="gameD">Questo gioco di pokemon si ambienta nella regione di Sinnoh</p>
            </div>
        </div>
    </div>
    
</ng-template>